body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

i {
    padding: 0 2px;
}

h1 {
    margin: 0;
}

a {
    display: flex;
}

header {
    background-color: #f3f00b;
    position: fixed;
    width: 100%;
}

header li {
    display: flex;
    padding: 5px;
}

main {
    padding: 55px 10px 10px;
}
